.container {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    background-color: #222;
    flex-wrap: wrap;

    align-items: top;
    justify-content: space-around;
    position:fixed;
    bottom:0px;
}

a {
    /* color: #fff; */
    text-decoration: none;
}

a:hover {
    color: #fff;
} 

.logo {
    padding: 0.5em;
    color: #ffbb33;
    font-weight: bold;
    font-size: 20px
}

.home_footer {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-around;
    position:fixed;
    bottom:0px;
}