.titulos_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.titulos_container_cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.titulos_container_lista {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulos_titulo {
    background-color: aqua;
    margin-bottom: .6em;
    font-weight: bold;
    font-size: 1.3em;
    
    width: 100%;
    background-color: #222;
    color: #ffbb33;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
